@import "./base.scss";

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.code {
  overflow: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  word-break: break-all;
}

.code > span {
  display: block;
  white-space: pre-wrap;
}

.vars {
  word-break: break-all;
}

.vars > span > .var-name {
  color: orangered;
}

.vars > span > .var-value {
  color: orange;
}
