@import './base.scss';

.full-height {
  height: 100%;
}

.code {
  overflow: auto;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 15px;
  word-break: break-all;

  & > span {
    display: block;
    white-space: pre-wrap;
  }

  &.source {
    .line {
      @extend .columns, .is-mobile, .is-gapless, .m-0;

      .line-number {
        @extend .column, .px-2;
        flex: none;
        width: 4rem;
        cursor: pointer;
        background-color: #333333;
      }

      .line-content {
        @extend .column, .px-1;

        &.breakpoint:not(.current-line) {
          @extend .has-background-danger;
        }
        &.current-line {
          @extend .has-background-info-dark, .px-1;
        }
      }
    }

    span {
      white-space: pre-wrap;
    }
  }

  &.vars {
    .variable {
      .name {
        color: orangered;
      }
      .value {
        color: orange;
      }
      .value-invalid {
        color: $red;
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
