@import "./base.css";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: white;
}

.nav {
  height: 40px;
  padding: 8px;
}

.container {
  height: calc(100% - 50px);
  padding: 8px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 1fr;
  column-gap: 10px;
}

.container > .code {
  overflow: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  margin: 15px;
}
.container > .code > span {
  display: block;
  white-space: pre-wrap;
}

.source {
  grid-row: span 3;
  /*grid-column: span 2;*/
}

.source > span.current {color: yellow;}
.source > span.breakpoint {background-color: darkred;}

.vars > span .var-name {color: orangered;}
.vars > span .var-value {color: orange;}
